$gw2-currencies-file-width: 286;
$gw2-currencies-file-height: 245;
$gw2-currencies-file-name: 'currencies.png';

%gw2-currencies {
	background: url('#{$gw2-img-path}#{$gw2-currencies-file-name}') no-repeat;
}

$aetherium: ('aetherium', 41, 0, 40, 40, ());
$airship-part: ('airship-part', 164, 164, 40, 40, ());
$ascalonian-tear: ('ascalonian-tear', 0, 41, 40, 40, ());
$ascended-shard-of-glory: ('ascended-shard-of-glory', 41, 41, 40, 40, ());
$badge-of-honor: ('badge-of-honor', 82, 0, 40, 40, ());
$bandit-crest: ('bandit-crest', 82, 41, 40, 40, ());
$bandit-skeleton-key: ('bandit-skeleton-key', 0, 82, 40, 40, ());
$copper-coin: ('copper-coin', 262, 218, 15, 15, ());
$deadly-bloom: ('deadly-bloom', 82, 82, 40, 40, ());
$elegy-mosaic: ('elegy-mosaic', 123, 0, 40, 40, ());
$exalted-key: ('exalted-key', 123, 41, 40, 40, ());
$favor: ('favor', 246, 156, 24, 24, ());
$flame-legion-charr-carving: ('flame-legion-charr-carving', 0, 123, 40, 40, ());
$fractal-relic: ('fractal-relic', 41, 123, 40, 40, ());
$gaeting-crystal: ('gaeting-crystal', 82, 123, 40, 40, ());
$gem: ('gem', 246, 202, 16, 15, ());
$geode: ('geode', 164, 0, 40, 40, ());
$gold-coin: ('gold-coin', 246, 218, 15, 15, ());
$guild-commendation: ('guild-commendation', 164, 82, 40, 40, ());
$influence: ('influence', 263, 202, 15, 15, ());
$karma: ('karma', 267, 181, 18, 15, ());
$knowledge-crystal: ('knowledge-crystal', 41, 164, 40, 40, ());
$laurel: ('laurel', 246, 181, 20, 20, ());
$ley-line-crystal: ('ley-line-crystal', 123, 164, 40, 40, ());
$lump-of-aurillium: ('lump-of-aurillium', 0, 0, 40, 40, ());
$machete: ('machete', 205, 0, 40, 40, ());
$magnetite-shard: ('magnetite-shard', 205, 41, 40, 40, ());
$manifesto-of-the-moletariate: ('manifesto-of-the-moletariate', 205, 82, 40, 40, ());
$pact-crowbar: ('pact-crowbar', 205, 123, 40, 40, ());
$pristine-fractal-relic: ('pristine-fractal-relic', 205, 164, 40, 40, ());
$proof-of-heroics: ('proof-of-heroics', 0, 205, 40, 40, ());
$provisioner-token: ('provisioner-token', 41, 205, 40, 40, ());
$pvp-league-ticket: ('pvp-league-ticket', 82, 205, 40, 40, ());
$seal-of-beetletun: ('seal-of-beetletun', 123, 205, 40, 40, ());
$shard-of-zhaitan: ('shard-of-zhaitan', 164, 205, 40, 40, ());
$silver-coin: ('silver-coin', 271, 156, 15, 15, ());
$spirit-shard: ('spirit-shard', 246, 0, 40, 40, ());
$supply: ('supply', 246, 123, 32, 32, ());
$symbol-of-koda: ('symbol-of-koda', 246, 41, 40, 40, ());
$testimony-of-heroics: ('testimony-of-heroics', 205, 205, 40, 40, ());
$trade-contract: ('trade-contract', 82, 164, 40, 40, ());
$trader-key: ('trader-key', 0, 164, 40, 40, ());
$transmutation-charge: ('transmutation-charge', 164, 123, 40, 40, ());
$unbound-magic: ('unbound-magic', 164, 41, 40, 40, ());
$vial-of-chak-acid: ('vial-of-chak-acid', 123, 123, 40, 40, ());
$volatile-magic: ('volatile-magic', 123, 82, 40, 40, ());
$wvw-tournament-claim-ticket: ('wvw-tournament-claim-ticket', 41, 82, 40, 40, ());
$zephyrite-lockpick: ('zephyrite-lockpick', 246, 82, 40, 40, ());

$currencies-sprites: ($aetherium, $airship-part, $ascalonian-tear, $ascended-shard-of-glory, $badge-of-honor, $bandit-crest, $bandit-skeleton-key, $copper-coin, $deadly-bloom, $elegy-mosaic, $exalted-key, $favor, $flame-legion-charr-carving, $fractal-relic, $gaeting-crystal, $gem, $geode, $gold-coin, $guild-commendation, $influence, $karma, $knowledge-crystal, $laurel, $ley-line-crystal, $lump-of-aurillium, $machete, $magnetite-shard, $manifesto-of-the-moletariate, $pact-crowbar, $pristine-fractal-relic, $proof-of-heroics, $provisioner-token, $pvp-league-ticket, $seal-of-beetletun, $shard-of-zhaitan, $silver-coin, $spirit-shard, $supply, $symbol-of-koda, $testimony-of-heroics, $trade-contract, $trader-key, $transmutation-charge, $unbound-magic, $vial-of-chak-acid, $volatile-magic, $wvw-tournament-claim-ticket, $zephyrite-lockpick, );

@each $sprite in $currencies-sprites {
	$sprite-name: nth($sprite, 1);
	$sprite-x: nth($sprite, 2);
	$sprite-y: nth($sprite, 3);
	$sprite-width: nth($sprite, 4);
	$sprite-height: nth($sprite, 5);

	@if length($sprite) > 5 {
		$aliases: nth($sprite, 6);
		$aliases: append($aliases, $sprite-name);
		$selector: ();

		@each $item in $aliases {
			$selector: append($selector, unquote('.#{$gw2-css-prefix}-#{$item}'), 'comma');
		}

		#{$selector} {
			@extend %gw2-currencies;
			@include gw2-iconify($sprite-x, $sprite-y, $sprite-width, $sprite-height, $gw2-currencies-file-width, $gw2-currencies-file-height);
		}
	} @else {
		.#{$gw2-css-prefix}-#{$sprite-name} {
			@extend %gw2-currencies;
			@include gw2-iconify($sprite-x, $sprite-y, $sprite-width, $sprite-height, $gw2-currencies-file-width, $gw2-currencies-file-height);
		}
	}
}


