$gw2-menu-file-width: 224;
$gw2-menu-file-height: 224;
$gw2-menu-file-name: 'menu.png';

%gw2-menu {
	background: url('#{$gw2-img-path}#{$gw2-menu-file-name}') no-repeat;
}

$black-lion-menu-bar: ('black-lion-menu-bar', 32, 0, 32, 32);
$black-lion-panel-currency-exchange: ('black-lion-panel-currency-exchange', 64, 128, 32, 32);
$black-lion-panel-gem-store: ('black-lion-panel-gem-store', 0, 32, 32, 32);
$black-lion-panel-trading-post: ('black-lion-panel-trading-post', 32, 32, 32, 32);
$contacts-menu-bar: ('contacts-menu-bar', 64, 0, 32, 32);
$contacts-panel-blocked: ('contacts-panel-blocked', 64, 32, 32, 32);
$contacts-panel-followers: ('contacts-panel-followers', 0, 64, 32, 32);
$contacts-panel-friends: ('contacts-panel-friends', 32, 64, 32, 32);
$contacts-panel-lfg: ('contacts-panel-lfg', 64, 64, 32, 32);
$game-menu-edit-account: ('game-menu-edit-account', 96, 0, 32, 32);
$game-menu-exit: ('game-menu-exit', 96, 32, 32, 32);
$game-menu-log-out: ('game-menu-log-out', 96, 64, 32, 32);
$game-menu-options: ('game-menu-options', 0, 96, 32, 32);
$game-menu-return: ('game-menu-return', 32, 96, 32, 32);
$game-menu-support: ('game-menu-support', 64, 96, 32, 32);
$guild-panel-main: ('guild-panel-main', 96, 96, 32, 32);
$guild-panel-menu-bar: ('guild-panel-menu-bar', 128, 0, 32, 32);
$guild-panel-missions: ('guild-panel-missions', 128, 32, 32, 32);
$guild-panel-ranks: ('guild-panel-ranks', 128, 64, 32, 32);
$guild-panel-roster: ('guild-panel-roster', 128, 96, 32, 32);
$guild-panel-storage: ('guild-panel-storage', 0, 128, 32, 32);
$guild-panel-teams: ('guild-panel-teams', 32, 128, 32, 32);
$hero-panel-achievements: ('hero-panel-achievements', 0, 0, 32, 32);
$hero-panel-build: ('hero-panel-build', 96, 128, 32, 32);
$hero-panel-crafting: ('hero-panel-crafting', 128, 128, 32, 32);
$hero-panel-equipment: ('hero-panel-equipment', 160, 0, 32, 32);
$hero-panel-masteries: ('hero-panel-masteries', 160, 32, 32, 32);
$hero-panel-menu-bar: ('hero-panel-menu-bar', 160, 64, 32, 32);
$hero-panel-story-journal: ('hero-panel-story-journal', 160, 96, 32, 32);
$hero-panel-training: ('hero-panel-training', 160, 128, 32, 32);
$inventory-menu-bar: ('inventory-menu-bar', 0, 160, 32, 32);
$mail-menu-bar: ('mail-menu-bar', 32, 160, 32, 32);
$options-menu-bar: ('options-menu-bar', 64, 160, 32, 32);
$pvp-menu-bar: ('pvp-menu-bar', 96, 160, 32, 32);
$pvp-panel-custom-arena: ('pvp-panel-custom-arena', 128, 160, 32, 32);
$pvp-panel-game-browser: ('pvp-panel-game-browser', 160, 160, 32, 32);
$pvp-panel-home: ('pvp-panel-home', 192, 0, 32, 32);
$pvp-panel-league: ('pvp-panel-league', 192, 32, 32, 32);
$pvp-panel-reward-tracks: ('pvp-panel-reward-tracks', 192, 64, 32, 32);
$support-panel-bug-report: ('support-panel-bug-report', 192, 96, 32, 32);
$support-panel-main: ('support-panel-main', 192, 128, 32, 32);
$wvw-menu-bar: ('wvw-menu-bar', 192, 160, 32, 32);
$wvw-panel-detailed-score: ('wvw-panel-detailed-score', 0, 192, 32, 32);
$wvw-panel-mist-war: ('wvw-panel-mist-war', 32, 192, 32, 32);
$wvw-panel-rank-and-abilities: ('wvw-panel-rank-and-abilities', 64, 192, 32, 32);

$menu-sprites: ($black-lion-menu-bar, $black-lion-panel-currency-exchange, $black-lion-panel-gem-store, $black-lion-panel-trading-post, $contacts-menu-bar, $contacts-panel-blocked, $contacts-panel-followers, $contacts-panel-friends, $contacts-panel-lfg, $game-menu-edit-account, $game-menu-exit, $game-menu-log-out, $game-menu-options, $game-menu-return, $game-menu-support, $guild-panel-main, $guild-panel-menu-bar, $guild-panel-missions, $guild-panel-ranks, $guild-panel-roster, $guild-panel-storage, $guild-panel-teams, $hero-panel-achievements, $hero-panel-build, $hero-panel-crafting, $hero-panel-equipment, $hero-panel-masteries, $hero-panel-menu-bar, $hero-panel-story-journal, $hero-panel-training, $inventory-menu-bar, $mail-menu-bar, $options-menu-bar, $pvp-menu-bar, $pvp-panel-custom-arena, $pvp-panel-game-browser, $pvp-panel-home, $pvp-panel-league, $pvp-panel-reward-tracks, $support-panel-bug-report, $support-panel-main, $wvw-menu-bar, $wvw-panel-detailed-score, $wvw-panel-mist-war, $wvw-panel-rank-and-abilities, );

@each $sprite in $menu-sprites {
	$sprite-name: nth($sprite, 1);
	$sprite-x: nth($sprite, 2);
	$sprite-y: nth($sprite, 3);
	$sprite-width: nth($sprite, 4);
	$sprite-height: nth($sprite, 5);

	.#{$gw2-css-prefix}-#{$sprite-name} {
		@extend %gw2-menu;
		@include gw2-iconify($sprite-x, $sprite-y, $sprite-width, $sprite-height, $gw2-menu-file-width, $gw2-menu-file-height);
	}
}


