// Mixins
// ------

%gw2-icon {
    display: inline-block;
    font-size: inherit;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
}

@mixin gw2-iconify($x, $y, $width, $height) {
    @extend %gw2-icon;
    background-position: -#{$x / $file-width}em -#{$y / $file-width}em;
    width: #{$width / $file-width}em;
    padding-bottom: #{$height / $file-width}em;
}

@mixin gw2-icon-rotate($degrees, $rotation) {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation})";
  transform: rotate($degrees);
}

@mixin gw2-icon-flip($horiz, $vert, $rotation) {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation}, mirror=1)";
  transform: scale($horiz, $vert);
}