// Mixins
// ------

@mixin gw2-icon() {
    display: inline-block;
    font-size: inherit;
    height: 1em;
}

@mixin gw2-iconify($x, $y, $width, $height) {
    background-position: -#{$x / $file-width}em -#{$y / $file-width}em;
    width: #{$width / $file-width}em;
    padding-bottom: #{$height / $file-width}em;
}

@mixin gw2-icon-rotate($degree, $rotation) {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation})";
    -webkit-transform: rotate($degrees);
        -ms-transform: rotate($degrees);
            transform: rotate($degrees);
}

@mixin gw2-icon-flip($horiz, $vet, $rotation) {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation}, mirror=1)";
    -webkit-transform: scale($horiz, $vert);
        -ms-transform: scale($horiz, $vert);
            transform: scale($horiz, $vert);
}