// Variables
// ---------

$gw2-img-path:          "../img" !default;
$gw2-img-size-base:     14px !default;
$gw2-line-height-base:  1 !default;
$gw2-css-prefix:        gw2 !default;
$gw2-version:           "0.0.1" !default;
$gw2-li-width:          (30em / 14) !default;